#set($title="委托扣款授权书")

## 页面头
#parse('/widget/contract/header-contract-m.vm')

<section class="container">
    #parse('/widget/navbar/navbar.vm')
    
    ## M端与PDF版共用
    #parse('/widget/contract/commissionCharged.vm')
</section>

## 页脚
#parse('/widget/contract/footer.vm')