@import "/static/scss/zepto.date.scss";

body {
    padding: 40px;
    
    form {
        padding-top: 100px;
        padding-bottom: 400px;
        
        input {
            margin-bottom: 20px;
            margin-left: 10px;
        }
    }
    
}
