<div id="filter-down-wrapper">
    <div class="arrow-up"></div>
    <div id="filter-down-menu">
        <section>
            <h3>客户状态</h3>
            <div class="flex-box">
            <div class="filter-option active">全部<div class="icon"></div></div>
            <div class="filter-option">审核中<div class="icon"></div></div>
            <div class="filter-option">审核通过<div class="icon"></div></div>
            </div>
            <div class="flex-box">
            <div class="filter-option">放款审批中<div class="icon"></div></div>
            <div class="filter-option">已放款<div class="icon"></div></div>
            </div>
        </section>
    </div>
</div>