<div class="signature-example">
    <div class="row row-1">
        <img src="<%=src%>" class="img-h">
    </div>
    <div class="row row-2">
        <p class="desc">请在空白处手写签名</p>
    </div>
    <div class="row row-3">
        <button type="button" class="btn-know">知道了</button>
    </div>
</div>