<div data-v='<%=obj.baseTime%>' class='widget-date' data-date>
    <div class='widget-date-head'>
        <a data-date-prev class='widget-date-prev <%=obj.disablePrev%>' href='javascript:;'></a>
        <span><%=obj.baseTitle%></span>
        <a data-date-next class='widget-date-next <%=obj.disableNext%>' href='javascript:;'></a>
    </div>
    <ul class='widget-date-week'><%=obj.baseWeek%></ul>
    <div class='widget-date-day'><%=obj.baseContent%></div>
</div>