<!DOCTYPE html>
<html>
<head>
    #set($title = "放款申请")
    #parse('/widget/header/header.vm')
    <link rel="stylesheet" href="./loan-apply-1.scss">
</head>
#* /////////////////////// Maps Start ///////////////////// *#
#set($firstPayRatioMap = {
    "0": "0%",
    "50": "50%"
})
#set($cycleMap = {
    "12": "12个月",
    "24": "24个月",
    "36": "36个月"
})
#set($contractTypeMap = {
    "1": "瓜子版",
    "2": "个人车商版",
    "3": "法人车商版(对公帐户)"
})
#set($dealerBankMap = {
    "0105":"建设银行",
    "0104":"中国银行",
    "0302":"中信银行",
    "0305":"民生银行",
    "0303":"光大银行",
    "0318":"平安银行",
    "0308":"招商银行",
    "0103":"农业银行",
    "0102":"工商银行",
    "0309":"兴业银行",
    "0100":"邮储银行",
    "0301":"交通银行",
    "0310":"浦发银行",
    "0304":"华夏银行",
    "0403":"北京银行",
    "0306":"广发银行",
    "0401":"上海银行",
    "0311":"恒丰银行",
    "1413":"重庆农村商业银行",
    "0317":"渤海银行",
    "0316":"浙商银行",
    "0424":"南京银行",
    "0408":"宁波银行",
    "0442":"哈尔滨银行",
    "0307":"深圳发展银行"
})
#set($repayBankMap = {
    "0102":"工商银行",
    "0103":"农业银行",
    "0105":"建设银行",
    "0104":"中国银行",
    "0100":"邮储银行",
    "0308":"招商银行",
    "0303":"光大银行",
    "0306":"广发银行",
    "0305":"民生银行",
    "0309":"兴业银行",
    "0302":"中信银行",
    "0301":"交通银行",
    "0310":"浦发银行",
    "0318":"平安银行",
    "0401":"上海银行",
    "0403":"北京银行"
})
#macro( ModuleMap $whatMap $selectedVal)
    #foreach( $key in $whatMap.keySet())
        <option value="$!{key}" #if($key == $selectedVal)selected#end>$!{whatMap.get($key)}</option>
    #end
#end

#* /////////////////////// Maps End /////////////////////// *#

<body>
    #set($title = "放款申请")
    #set($backHref = "/market/customer/detail?userId=$!{userId}")
    #parse('/widget/navbar/navbar.vm')



    <section class="flex-box  progress-bar-step1">
        <div class="col-1">1 基本信息</div>
        <div class="arrow-right-1" ></div>
        <div>
            <div class="arrow-left-top-2"></div>
            <div class="arrow-left-bottom-2"></div>
        </div>
        <div class="col-1">2 影像资料</div>
        <div class="arrow-right-2" ></div>
        <div>
            <div class="arrow-left-top-3"></div>
            <div class="arrow-left-bottom-3"></div>
        </div>
        <div class="col-1">3 成功</div>
    </section>



    <form id="form" action="/market/customer/loan/apply2">
    <div class="loan-application">
        <input type="hidden" id = "userId" value = $!{userId} name = "userId"  />
        <input type="hidden" class="editFlag" data-value='$!{editFlag}' />

        <div class="loan-item flex-box">
            <div>合同类型</div>
            <select id="contractType" name="contractType">
                #ModuleMap( $contractTypeMap $contractType )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>融资金额(元)</div>
            <input class="col-1" type="number" value="$!{financeAmount}" name="financeAmount" />
        </div>
        <div class="loan-item flex-box">
            <div>首付比例(%)</div>
            <input class="col-1" type="number" value="$!{firstPayRatio}" name="firstPayRatio" />
        </div>
        <div class="loan-item flex-box">
            <div>是否抵押</div>
            ##0有1无
            #if($mortgage=="0")
            <div class="toggle-btn toggle-on">
                <span data-alternative="off">on</span>
                <input type="hidden" name="mortgage" value="0" data-alternative="1" />
            </div>
            #else
            <div class="toggle-btn toggle-off">
                <span data-alternative="on">off</span>
                <input type="hidden" name="mortgage" value="1" data-alternative="0" />
            </div>
            #end
        </div>
        <div class="loan-item flex-box">
            <div>指标人(非必填)</div>
            <input class="col-1 region-related" type="text" value="$!{indicator}" name="indicator" />
        </div>
        

        <div class="divider"></div>


        <div class="loan-item flex-box">
            <div>车价(元)</div>
            <input class="col-1" type="number" value="$!{carDealPrice}" name="carDealPrice" />
        </div>
        <div class="loan-item flex-box">
            <div>车型</div>
            <input class="col-1" type="text" value="$!{models}" name="models" />
        </div>
        <div class="loan-item flex-box">
            <div>车架号</div>
            <input class="col-1" type="text" value="$!{frameNo}" name="frameNo" 
                data-validate='{"errmsg":"车架号必须为数字或字母","regexp":"^\\w+$"}' />
        </div>
        <div class="loan-item flex-box">
            <div>品牌</div>
            <input class="col-1" type="text"  value="$!{brand}" name="brand" />
        </div>
        <div class="loan-item flex-box">
            <div>车牌号(非必填)</div>
            <input class="col-1" type="text" id="cardNo" value="$!{cardNo}" name="cardNo"  />
        </div>
        <div class="loan-item flex-box">
            <div>颜色</div>
            <input class="col-1" type="text" value="$!{color}" name="color" />
        </div>
        <div class="loan-item flex-box">
            <div>首次上牌日期</div>
            <input class="col-1" type="text" value="$!{firstCardDate}" name="firstCardDate" />
        </div>
        
        
        <div class="divider"></div>
        
        
        <div class="loan-item flex-box">
            <div>车商银行卡户名</div>
            <input class="col-1" type="text" value="$!{dealerName}" name="dealerName" />
        </div>
        <div class="loan-item flex-box">
            <div>车商身份证号</div>
            <input class="col-1" type="text" value="$!{idCard}" name="idCard" id="idCard" />
        </div>
        <div class="loan-item flex-box">
            <div>车商银行卡号</div>
            <input class="col-1" type="number" value="$!{dealerBankCardNo}" name="dealerBankCardNo" />
        </div>
        <div class="loan-item flex-box">
            <div>车商开户行</div>
            <select name="dealerOpenBank" data-value="$!{dealerOpenBank}" placeholder="车商开户行" class="sel-combobox">
                <option value="-1">请选择开户行</option>
                #ModuleMap( $dealerBankMap $dealerOpenBank )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>车商开户行分行</div>
            <input class="col-1" type="text" name="dealerOpenPartBank" value="$!{dealerOpenPartBank}" />
        </div>
        <div class="loan-item flex-box">
            <div>车商开户行支行</div>
            <input class="col-1" type="text" name="dealerOpenBranchBank" value="$!{dealerOpenBranchBank}" />
        </div>
        <div class="loan-item flex-box">
            <div>邮箱(非必填)</div>
            <input class="col-1" type="text" name="mail" value="$!{mail}" />
        </div>

        
        <div class="divider"></div>
        
        
        <div class="loan-item flex-box">
            <div>还款户名</div>
            <input class="col-1" type="text"  value="$!{repayAccount}" name="repayAccount" />
        </div>
        <div class="loan-item flex-box">
            <div>还款人身份证号</div>
            <input class="col-1" type="text"  value="$!{repayIdCardNo}" name="repayIdCardNo" />
        </div>
        <div class="loan-item flex-box">
            <div>还款卡号</div>
            <input class="col-1" type="number" value="$!{repayBankCardNo}" name="repayBankCardNo" />
        </div>
        <div class="loan-item flex-box">
            <div>还款开户行</div>
            <select name="repayOpenBank" data-value="$!{repayOpenBank}" placeholder="还款开户行" class="sel-combobox">
                <option value="-1">请选择开户行</option>
                #ModuleMap( $repayBankMap $repayOpenBank )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>预留手机号(非必填)</div>
            <input class="col-1" type="number" name="reservedPhone" value="$!{reservedPhone}"/>
        </div>

        <section class="actions">
            <button type="button" class="btn-next-step">下一步</button>
        </section>

        
    </div>
    </form>




    ##------------------------------------
    ## scripts
    ##------------------------------------
    __FRAMEWORK_CONFIG__
    <script>
    require(['page/loan-apply-1/loan-apply-1'],function(app){
        app();
    });
    </script>
</body>
</html>

