.widget-date-wrap-default {
    position: absolute;
    margin-bottom: 40px;
    left: 20px;
    right: 20px;
    opacity: 0.98;
    background: #fff;
}


.widget-date {
    
    border: 1px solid #dfdfdf;
    
    
    
    .widget-date-head {
        
        position: relative;
        height: 35px;
        color: #222;
        text-align: center;
        background-color: #efefef;
        border-bottom: 1px solid #dfdfdf;
        
        &>span {
            display: block;
            line-height: 36px;
            font-size: 14px;
            margin: 0 35px;
            border-right: 1px solid #dfdfdf;
            border-left: 1px solid #dfdfdf;
        }
        
        .widget-date-prev,
        .widget-date-next {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 35px;
        }
        .widget-date-prev {
            left: 0;
        }
        .widget-date-next {
            right: 0;
        }
        
        .widget-date-prev:before,
        .widget-date-prev:after,
        .widget-date-next:before,
        .widget-date-next:after {
            position: absolute;
            content: " ";
            font-size: 0px;
            line-height:0px;
            overflow:hidden;
            border-style: solid;
            height: 0;
            width: 0;
            top: 11px;
            border-width: 7px;
        }
        
        
        .widget-date-prev:before {
            left: 7px;
            border-color: transparent #888 transparent transparent;
        }
        .widget-date-prev:after {
            left: 9px;
            border-color: transparent #efefef transparent transparent;
        }
        
        .widget-date-next:before {
            right: 7px;
            border-color: transparent transparent transparent #888;
        }
        .widget-date-next:after {
            right: 9px;
            border-color: transparent transparent transparent #efefef;
        }
        
        .widget-date-prev.disable:before {
            border-color: transparent #d8d8d8 transparent transparent;
        }
        .widget-date-next.disable:before {
            border-color: transparent transparent transparent #d8d8d8;
        }

    }



    .widget-date-week {
        display: -webkit-box;
        height: 35px;
        font-size: 13px;
        color: #717171;
        
        li {
            -webkit-box-flex: 1;
            width: 100%;
            line-height: 36px;
            text-align: center;
        }
    }
    
    
    
    .widget-date-day {
        
        ul {
            display: -webkit-box;
            height: 31px;
            font-size: 15px;
            color: #ccc;
            line-height: 31px;
            border-top: 1px solid #dfdfdf;
        }
        
        li {
            position: relative;
            -webkit-box-flex: 1;
            -webkit-box-sizing: border-box;
            width: 100%;
            margin-left: -1px;
            text-align: center;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            
            &.current {
                z-index: 1;
            }
            
            &:last-child {
                border-right: 0;
            }
            
            a {
                display: block;
                height: 100%;
                color: #424242;
            }
            
            &.current a {
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: 0;
                background-color: #5ea2fd;
                border: 1px solid #4e8cff;
                color: #fff;
                text-shadow: 0px 1px 2px #2d6be4;
            }
        }


    }
}











