
##联合贷款合同

<div class="protocol">
    <div class="logo">
        <img src="/static/img/contract/logo_hrbank.png" class="left" />
        <img src="/static/img/contract/logo_58.png" class="right" />
    </div>
    <h1 class="tc b">哈尔滨银行-58 消费贷（车分期）$!{title}</h1>
    <h3 class="tc">伍捌（深圳）融资租赁有限公司</h3>
    <h3 class="tc">哈尔滨银行股份有限公司</h3>
    <p class="tc">合同编号：（ #ModuleContract( $contractID ) ）</p>
    <br/>

    <p>借款人（甲方）：$!{realName} </p>
    <p>身份证号码：$!{idNumber} </p>
    <p>联系电话：$!{mobile} </p>
    <p>联系地址：$!{residentAddress} </p>
    <br/>
    <p>贷款人（乙方）：哈尔滨银行股份有限公司</p>
    <p>联系电话：<a href="tel:4008215537">400-821-5537</a></p>
    <p>联系地址：上海市浦东新区杨高南路759号陆家嘴世纪金融广场2号楼701室哈尔滨银行互联网金融事业部</p>
    <p>电邮地址：<a href="mailto:service@hrbb.com.cn">service@hrbb.com.cn</a></p>

    <p>合作服务方（丙方）：伍捌（深圳）融资租赁有限公司</p>
    <p>联系电话：<a href="tel:01059565858">010-59565858</a></p>
    <p>联系地址：北京市朝阳区酒仙桥北路甲10号院105号楼（电子城IT产业园内）</p>
    <p>电邮地址：<a href="mailto:service-cd@58ganji.com">service-cd@58ganji.com</a></p>
    <br/>
    <p class="b underline">重要提示：请借款人务必仔细阅读本合同所有条款，特别是以粗体或下划线标注的条款，这些内容对借款人非常重要，可能对借款人的权利义务产生实质影响，请借款人确保对这些内容充分理解。</p>

    <p>鉴于：</p>
    <p>1.  乙方、丙方已签署《哈行-58二手车分期产品合作主合同》，乙方、丙方将分别为甲方购买二手车辆所申请融资总额各提供60%、40%的款项。</p>
    <p>2.  丙方将与甲方另行签署《融资租赁回租合同》等融资租赁金融解决方案法律文件约定由丙方负责发放部分的融资款项操作细则。</p>
    <p>3.  现甲乙丙三方根据国家有关法律法规，在平等、自愿基础上，为明确责任、恪守信用，订立本合同，并保证共同遵守。</p>


    <h3>第一条 借款金额</h3>
    乙方同意向甲方提供本金总额为人民币：（大写）#ModuleContract($vehicleHrbAmountCapital true)（小写）#ModuleContract($vehicleHrbAmount true)元的贷款。

    <h3>第二条 借款用途</h3>
    <p>本合同项下借款仅用于满足甲方购买二手车的消费需求，且借款采取受托支付的方式，由乙方直接支付到甲方指定的卖车方银行账户。未经乙方以及丙方同意，甲方不得以任何理由改变本合同所确定的借款用途。不得以任何形式流入证券市场、期货市场或进行股本权益性投资。对未按照本合同约定用途使用借款的，乙方可自甲方改变使用借款用途之日起，按照借款利率的150%计收违约金，直至清偿本息为止。</p>

    <h3>第三条 借款期限</h3>
    <p>乙方给予甲方的贷款自#ModuleContract($loanYearStart true)年#ModuleContract($loanMonthStart true)月#ModuleContract($loanDayStart true)日始，至#ModuleContract($loanYearEnd true)年#ModuleContract($loanMonthEnd true)月#ModuleContract($loanDayEnd true)日终止。若因乙方原因，导致贷款实际发放日期晚于贷款起始日期时，以贷款实际发放日作为贷款起始日，贷款到期日相应顺延。</p>

    <h3>第四条 借款利率、利息及费用</h3>
    <h4>一、  利率</h4>
    <p>本合同项下乙方给甲方发放贷款的年化借款利率确定为<span class="underline">8.5%</span>，在贷款期限内，该利率保持不变。</p>
    <h4>二、  计息方式</h4>
    <p>计息方式为<span class="b underline">按月等额本息</span>，具体计算公式如下：</p>
    <p>借款月利率=年化借款利率/12=8.5%/12 = <span class="b underline">0.7083%</span></p>

    <div class="tc">
        <img src="/static/img/contract/repayFormula.png" width="100%" />
    </div>
     
    <h4>三、其他费用</h4>
    丙方有权就撮合甲方按照本合同获得乙方贷款收取甲方相应的服务费，服务费按月收取，每月甲方向丙方支付#ModuleContract($vehicleServiceCost true)元服务费。

    <h3>第五条 借款发放</h3>
    <h4>一、  借款发放形式</h4>
    <p>除非借贷双方另有约定，否则本合同项下所有借款资金均采用受托支付的形式发放。</p>
    <h4>二、  借款方法相关信息</h4>
    <p>1.  采用乙方受托支付的，本合同项下所有借款资金均发放至甲方指定卖车方的以下银行账户。</p>          
    <p>开户银行名称：#ModuleContract($!{bankMap.get("$!{loanBankName}")} true)</p>
    <p>银行账号：#ModuleContract($loanBankCard true)</p>
    <p>账户名称：#ModuleContract($loanUserName true) </p>

    <p class="b">甲方确认并保证以上账户信息填写正确，非因乙方过错导致的借款资金支付失败、错误、延误等风险、责任及损失，乙方不承担责任。乙方由此遭受的一切损失，甲方应予以赔偿。</p>
    <p>2.  乙方根据甲方提供的资料对支付金额、支付时间、支付对象、支付方式及经办账户进行形式性审查。乙方完成对上述支付要素的形式性审查认为符合乙方要求后，将借款资金支付给甲方指定的卖车方。</p>
    <p>3.  乙方对上述支付要素的形式性审查并不意味着乙方对交易的真实性及合法合规性进行确认，也不意味着乙方介入甲方与其交易的卖车方或第三方的纠纷或需要承担甲方的责任和义务。乙方因受托支付行为所遭受的一切损失，甲方应予以赔偿。</p>
    <h4>三、  甲方发生购车纠纷时的债务关系</h4>
    <p>本合同签订后且在借款发放前，若甲方与卖车方或其他单位就产品质量、服务、条件、权属等事宜发生任何纠纷，均与乙方无关，本合同应正常履行。</p>

    <h3>第六条 借款归还</h3>
    <p>一、  本合同项下借款采用按月等额本息还款法。利息从借款实际发放之日起算，其中每月借款利率按月初剩余借款本金计算并逐月结清。</p>
    <p>二、  放款日为1日至28日的，每期还款日为借款发放日的对应日，借款最终到期日为最后一次还款日，偿还所有剩余本金和利息；放款日如为29、30、31日的，每期还款日统一为28日，借款最终到期日统一为最后一期的28日，偿还所有剩余本金和利息。</p>
    <p>三、  本合同项下借款本息的偿还，以每一个月为一个偿还期，即每月#ModuleContract($repayDayPerMonth true)日为甲方的每期还款日，共#ModuleContract($repayStages true)期。每期还款日当日中午<span class="b underline">12:00</span>前，甲方应在本合同第六条第四项确定的还款账户中提前存入足额资金以归还当期应还借款本息，并同意授权乙方或其合作的第三方代收付机构直接从以上还款账户中自动扣划应还本息金额。若存款不足扣划时，甲方授权乙方从甲方在哈尔滨银行开立的任何账户中扣划相关款项。若因银行账户余额不足导致自动扣款失败或由此产生的任何费用及损失（包括但不限于利息、罚息、手续费、人工费、逾期等）由甲方全部承担。</p>
    <p>四、  还款账户</p>
    <p>除非三方另有约定，否则本合同项下所有资金（包括但不限于借款本息、罚息、丙方应收服务费及违约金等）归还都必须通过甲方以下指定银行账户进行。</p>
    <p>开户银行名称：#ModuleContract($!{bankMap.get("$!{repayBankName}")} true)</p>
    <p>银行账号：#ModuleContract($repayBankCard true)</p>
    <p>账户名称：#ModuleContract($repayUserName true) </p>                                                    
    <p class="b">甲方确认并保证以上还款账户信息填写正确，并同意授权乙方或其合作的第三方代收付机构直接从该银行账户中扣收贷款本息及罚息、丙方应收服务费及违约金、提前还款补偿金。如因甲方原因导致借款资金还款失败，由此产生的任何费用及损失（包括但不限于利息、罚息、手续费、人工费、逾期等）由甲方全部承担。</p>
    <p class="b">当甲方需要对以上还款账户信息申请变更时，可提请乙方。三方需另行签署<span class="underline">还款账户变更确认书</span>作为本合同的补充条款。该补充条款自双方签署后即生效，与本合同具有同样的法律效力。</p>

    <p>五、  本合同项下借款的还款计划以如下表格的记录为准：</p>
    <table class="table">
        <tbody>
            <tr>
                <td width="18%">还款期数</td>
                <td width="25%">当期应还本息(元)</td>
                <td width="30%">当期应还服务费(元)</td>
                <td>当期还款额总计(元)</td>
            </tr>
            #foreach($item in $repayList)
                #set($total = $item.principalInterest + $item.serviceCost)
                <tr>
                    <td>第 $!{velocityCount} 期</td>
                    <td>$!{item.principalInterest}</td>
                    <td>$!{item.serviceCost}</td>
                    <td>$!{total}</td>
                </tr>
            #end
        </tbody>
    </table>  


    <h3>第七条 逾期违约金</h3>
    <p>一、  甲方未按照还款约定清偿到期应付贷款本金、利息或任何到期应付的其他款项的，则甲方须从到期应付之日起至其全部清偿之日止按照原利率的150%支付逾期罚息。逾期罚息计算公式：逾期罚息=当期应还本金*8.5%*150%/360*逾期天数（逾期天数按自然日计算，以开始日期记录，截止日期不记录）。</p>
    <p>二、  如甲方未按照本合同第四条第三款规定支付服务费的，甲方应按照如下标准向丙方支付违约金。违约金计算公式：违约金=当期应付服务费*0.3%/360*违约天数（逾期天数按自然日计算，以开始日期记录，截止日期不记录）。</p>

    <h3>第八条 甲方的权利与义务</h3>
    <h4>三、  甲方的权利：</h4>
    <p>1.  有权按本合同约定的条件向乙方申请借款。</p>
    <p>2.  在取得乙方及丙方书面同意后,有权向第三方转让债务。</p>
    <h4>四、  甲方的义务：</h4>
    <p class="b">1.  有义务及时提供真实、准确、完整、有效的个人信息及材料，包括但不限于贷款前的申请资料。因甲方个人操作不当或填写的个人信息有误造成的法律后果、经济损失由其个人承担。</p>
    <p>2.  未隐瞒其所涉及的诉讼、仲裁、索赔事件或其他可能危及乙方及丙方权益实现的违法违纪事件。</p>
    <p>3.  保证不利用本合同项下的借款从事违反国家法律法规的活动，不以任何形式将本合同项下借款用于投资证券、期货市场，也不将资金用于股本权益性投资或法律法规禁止的领域，不利用借款从事违法经营活动。</p>
    <p>4.  自觉接受乙方及丙方对本合同项下借款使用情况与还款能力、还款来源、资信、财务等相关情况进行监督、检查和评估，并向乙方及丙方提供工作方便。</p>
    <p class="b">5.  同意并授权乙方及丙方为审核其贷款申请或对已核批的贷款基于风险管理的目的，自申请贷款之日起至贷款业务终止后三个月内的整个期间随时向中国人民银行个人信用信息基础数据库、金融信用信息基础数据库和其他任何依法成立的征信机构及数据服务机构查询、使用和保存其个人信用报告等全部信息。</p>
    <p>6.  同意乙方及丙方收集、保存、传递、应用甲方的个人基本信息、个人信贷交易记录、贷款风险分类结果以及反映个人信用状况的其他信息（包括但不限于“个人不良信息”）并进一步地授权乙方及丙方自申请之日起至相关贷款业务终止后三个月内的整个期间随时将上述信息报送至相关征信机构。</p>
    <p>7.  按期归还借款本金和利息，借款之日起六个月内甲方不得提前还款，六个月后甲方需要提前还款的，则由丙方按照甲方和丙方签订的《融资租赁回租协议》第十一条约定计算方法收取提前还款补偿金。</p>
    <p class="b">8.  同意授权乙方或其合作的第三方代收付机构直接从本合同第六条第四项确定的银行账户中扣收贷款本息及罚息、服务费及违约金、提前还款补偿金。若存款不足扣划时，甲方授权乙方从甲方在哈尔滨银行开立的任何账户中扣划相关款项。若因甲方原因导致借款资金发放失败或还款失败，由此产生的任何费用及损失（包括但不限于利息、罚息、违约金、手续费、人工费、逾期等）由甲方全部承担。</p>
    <p>9.  如发生贷款逾期的，乙方及丙方有权在符合国家法律法规的前提下进行贷款的催收，包括但不限于信息提醒催收、服务人员直接沟通催收、乙方及丙方合作机构催收等方式。所有因催收而产生的催收成本均由甲方承担。</p>
    <p>10. 若本合同项下借款的逾期时间超过<span class="b underline">3个自然日</span>，同意乙方立即向中国人民银行征信中心以及其他征信机构通报甲方的个人违约情况。</p>
    <p>11. 配合乙方及丙方进行贷款支付管理、贷后管理及相关检查。</p>
    <p>12. 同意并及时接收乙方及丙方以包括但不限于短信、电话、电子邮件或纸质信函等方式向甲方发出本借款相关的通知，甲方若更新个人信息（如变更住所、单位、名称、联系方式等），甲方应在个人信息更新后3个自然日内致电乙方及丙方进行变更，否则乙方及丙方向本合同所写明的联系地址发送有关文件，视同送达，由此造成的后果乙方及丙方不承担责任。</p>
    <p>13. 如发生对甲方履行本合同项下的义务产生重大不利影响的任何事件，包括但不限于涉及重大经济纠纷、财务状况恶化等，甲方应立即书面通知乙方及丙方。</p>
    <p>14. 发生如下事件时，甲方应及时通知乙方及丙方：</p>
    <p>(一) 甲方涉入重大诉讼或仲裁案件；</p>
    <p>(二) 甲方发生其他影响其偿债能力的情形。</p>


    <h3>第九条 乙方的权利与义务</h3>
    <h4>一、  乙方的权利：</h4>
    <p>1.  有权了解甲方的整体资信状况和财务状况,要求甲方提供与借款有关的资料。</p>
    <p>2.  有权监督甲方按本合同及各具体合同约定的用途使用贷款。</p>
    <p>3.  甲方未能履行本合同及各具体合同规定的各项义务,乙方有权要求甲方提前归还已发放的贷款。</p>
    <p>4.  在甲方发生伤残、失业、搬迁、婚姻变动、工作变动等情况,乙方依自主判断认为可能对乙方债权产生不利影响的状况时,乙方有权随时调整或取消对甲方的授信额度,停止提供授信额度内甲方尚未使用的贷款,并要求甲方立即清偿本合同项下贷款本息及一切相关的费用,或将本合同项下的所有债务转让到乙方同意接受的第三方名下,或提供∕增加乙方同意接受的新的担保措施。</p>
    <p>5.  如甲方贷款逾期的,乙方有权通过在公众媒体上以公告的方式对甲方进行贷款的催收,甲方应承担由此产生的全部不利后果。</p>
    <h4>二、  乙方的义务: </h4>
    <p>1.  按照本合同约定，及时足额发放贷款。</p>
    <p>2.  对甲方的资料情况保密，但以下情形除外：</p>
    <p>(一) 根据相关法律法规、规范性文件规定或司法机关等其他国家机关的要求而进行披露；</p>
    <p>(二) 向各自聘任的专业机构及其授权的业务人员和其各自授权的雇员透露；</p>
    <p>(三) 本合同另有约定的或乙方及丙方为实现债权而采取的合理行动。</p>
    <p>3.  转让本合同项下的权利时，及时通知甲方。</p>

    <h3>第十条 丙方的权利与义务</h3>
    <h4>一、  丙方的权利:</h4>
    <p>1.  有权了解甲方的整体资信状况和财务状况,要求甲方提供与借款有关的资料。</p>
    <p>2.  有权监督甲方按本合同及各具体合同约定的用途使用贷款。</p>
    <h4>二、  丙方的义务: </h4>
    <p>1.  对甲方的资料情况保密，但以下情形除外：</p>
    <p>(一) 根据相关法律法规、规范性文件规定或司法机关等其他国家机关的要求而进行披露；</p>
    <p>(二) 向各自聘任的专业机构及其授权的业务人员和其各自授权的雇员透露；</p>
    <p>(三) 本合同另有约定的或乙方及丙方为实现债权而采取的合理行动。</p>
    <p>2.  转让本合同项下的权利时，及时通知甲方。</p>

    <h3>第十一条    违约处理</h3>
    在本合同有效期内，下列事项发生时，乙方及丙方有权要求甲方或其继受人立即偿还本合同项下已到期和未到期的全部贷款本息和费用。未能及时偿还的，可自乙方及丙方要求偿还之日起至其全部清偿之日止按照本合同第七条的约定计算逾期违约金，但法律法规另有规定或本合同另有约定除外。
    一、  出现本合同第八条第14项规定的事件。
    二、  甲方违反本合同中的任何条款，包括但不限于甲方向乙方及丙方提供虚假的资料或隐瞒真实的情况等。
    三、  甲方未能按本合同或其他相关约定按时足额偿还借款本息、服务费。
    四、  甲方未能按照本合同约定用途使用借款。
    五、  甲方本人因丧失民事行为能力、被宣告失踪、死亡而无继承人或受遗赠人。
    六、  甲方的继承人或受遗赠人或财产代管人拒绝为甲方偿还借款本息。
    七、  甲方发生包括但不限于重大疾病、伤残、失业、搬迁、工作变动等任何改变,且乙方及丙方依其自主判断认为可能危及本合同项下债权实现。
    八、  甲方有怠于管理、追索或放弃其到期债权，或以无偿转让、以明显不合理低价转让及其他不适当方式处分现有主要财产等转移财产或其他逃避债务行为。因甲方上述行为造成甲方无法履行还款义务的，乙方及丙方可以根据相关法律法规规定对本合同约定范围内的债权行使代位权或撤销权，产生的必要费用由甲方承担。
    九、  甲方被依法追究刑事责任或被依法受到其他强制措施或被有关机关采取了限制其某项权利的措施,影响其履行本合同义务。
    十、  甲方未经乙方及丙方书面同意,擅自将本合同项下的债务转让。
    十一、 乙方已将本合同项下所有债务的求偿权转让给丙方。
    十二、 在甲方出现违约行为时，丙方有权要求甲方本合同中第七条第一款承担违约责任。

    <h3>第十二条    争议解决</h3>
    <p class="b">本合同三方在履行本合同过程中所发生的争议，可协商解决，协商不成的，通过向乙方住所地法院提起诉讼方式解决。在诉讼期间，本合同不涉及争议的条款仍须履行。</p>

    <h3>第十三条    合同的效力</h3>
    <p>一、  在本合同经乙方以及丙方的法定代表人或授权代理人签字并加盖公章（或消费贷业务章），且甲方签字之日起生效，至本合同项下所有贷款本息及一切相关费用清偿完毕之日止自动失效。</p>
    <p>二、  本合同生效后，除另有约定外，任何变更或解除均应经甲乙丙三方协商一致，并达成书面合同。书面合同达成之前，本合同继续有效。本合同的任何修改和补充均构成本合同不可分割的一部分。本合同有效期内，如遇乙方或丙方根据中国人民银行对利率、利息、费用、违约金的计算标准的调整而对上述要素进行变动的，乙方或丙方无需另行通知甲方。</p>
    <p>三、  本合同的变更或解除，不影响缔约各方要求赔偿损失的权利。本合同的解除，不影响本合同中有关争议解决条款的效力。</p>
    <p>四、  本合同采用电子文本形式制成，可以有一份或多份并且每一份具有同等法律效力，并长期保存在乙方及丙方服务器上备查，对各方均具有法律约束力。甲方可随时从前端访问、查询或并下载本合同电子文本至其本地设备。</p>

    <h3>第十四条    其他事项</h3>
    <p>一、  乙方给予甲方的宽限、优惠或延缓行使本合同项下的相关权利,均不影响、损害或限制乙方以及丙方依照本合同和法律法规享有的一切权益,也不视为乙方以及丙方对本合同项下相关权利的放弃。</p>
    <p>二、  本合同任何条款的无效均不影响其他条款的效力。</p>
    <p>三、  本合同和具体合同中的标题和业务名称仅为方便而使用,不得用于对当事方权利义务关系的解释。</p>
    <p>四、  本合同及各具体合同如涉及二人或以上共同债务人的,共同债务人中任何一人对本合同项下全部债务均承担无限连带责任清偿义务。如其中一人违反本合同约定义务,乙方或丙方有权向任一债务人追索,要求其承担全部债务。</p>
    <p>五、  本合同争议适用法律为中华人民共和国法律;本合同的解释,按照有关法律法规和交易习惯进行;本合同未尽事宜均遵照中华人民共和国有关法律、法规和其他相关规定办理,法律法规没有相应规定的,由各方协商执行。</p>
    <p>六、  本合同经公证机关办理公证并赋予强制执行效力后,若甲方不履行合同约定,乙方或丙方有权向人民法院直接申请强制执行。</p>
    <p>七、  本合同项下所有具体合同为本合同附件,是本合同的组成部分,与本合同具有同等法律效力。</p>
    <p>八、  甲方保证向乙方提供的贷款申请表上通讯地址、联系方式、个人身份证等信息的真实性、准确性和合法性,并承诺在上述信息变动之日起五日内书面通知乙方。乙方根据上述信息发出的主张权利的有关凭据,自发出日起，第8个自然日开始即视为送达,因上述信息有误或未能及时更新而造成甲方未能收到乙方主张权利的有关凭据而产生的后果乙方不承担责任。</p>

    <p class="b">甲方声明:乙方及丙方已提请甲方特别注意有关双方权利义务的全部条款，并对其作全面、准确的理解。乙方及丙方已经应甲方的要求对上述条款做出相应的说明。甲方已阅读本合同所有条款并对本合同条款的含义及相应的法律后果已全部通晓并充分理解，并愿意接受合同全部内容。</p>



    <table class="table table-border-none">
        <tbody>
            <tr>
                <td width="50%">
                    <p class="signatureA ti0">
                        <span>甲方签名：</span>
                        #if($signature)
                        <img src="$!{signature}" />
                        #end
                    </p>
                    <p>日期：#ModuleContract( $AYear false )年 #ModuleContract( $AMonth false)月 #ModuleContract( $ADay false)日</p>
                    <br/>
                    <br/>
                    <div class="pr">
                        <div class="seal"><img src="/static/img/contract/seal-hrbbank.png" width="100%" /></div>
                        <p>乙方（公章或合同专用章）：</p>
                        <br/>
                        <br/>
                        <br/>
                        <p>日期：#ModuleContract( $BYear false )年 #ModuleContract( $BMonth false)月 #ModuleContract( $BDay false)日</p>
                    </div>
                </td>
                <td>
                    <div class="pr">
                        <div class="seal"><img src="/static/img/contract/seal-58.png" width="100%" /></div>
                        <p>丙方（公章或合同专用章）：</p>
                        <br/>
                        <br/>
                        <p>日期：#ModuleContract( $CYear false )年 #ModuleContract( $CMonth false)月 #ModuleContract( $CDay false)日</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>