
##融资租赁回租合同（法人车商、线上）

<div class="protocol">
    <div class="logo">
        <img src="/static/img/contract/logo_58.png" class="right" />
    </div>
    <h1 class="tc b">$!{title}</h1>
    <h3 class="tc"></h3>
    <p class="tc">合同编号：（#ModuleContract( $contractID )）</p>
    <p>鉴于：</p>
    <p>1、 甲方（承租人）已与经销商单独签署二手车辆买卖协议，甲方（承租人）已与哈尔滨银行股份有限公司、乙方（出租人）三方签署《哈尔滨银行-58 消费贷（车分期）联合贷款合同》，出租人和哈尔滨银行股份有限公司基于承租人对经销商、租赁车辆的选择向经销商支付租赁车辆相应融资价款（承租人申请的融资款项由哈尔滨银行股份有限公司与出租人按照6:4的比例分别负责发放），承租人已从经销商处购得车辆所有权；</p>
    <p> 2、  甲方（承租人）与乙方（出租人）之间达成的融资租赁回租购车方案，同意在符合本合同全部条款的前提下，出租人从承租人处购买取得车辆所有权后，再将所购车辆回租给承租人使用，承租人按照本合同约定向出租人支付租金及其他款项。</p>
    <p>甲乙双方经友好协商，依据《中华人民共和国合同法》和其他相关法律、法规规定，订立本合同，以兹共同遵守。</p>
    <table class="table">
        <tbody>
            <tr>
                <td width="8%" rowspan="3" >1</td>
                <td width="35%" rowspan="3">车辆基本情况</td>
                <td colspan="2">车辆品牌：$!{vehicleBrand}</td>
                <td colspan="2">型号：    $!{vehicleType}</td>
            </tr>
            <tr>
                <td colspan="2">经销商：  $!{vehicleDealers}</td>
                <td colspan="2">车辆颜色：$!{vehicleColor}</td>
            </tr>
            <tr>
                <td colspan="2">车架号：$!{vehicleChassisNum}</td>
                <td colspan="2">车牌号：$!{vehicleLicense}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>起租日（起息日）</td>
                <td colspan="4">出租人按本协议约定向经销商支付融资款项之日</td>
            </tr>
            <tr>
                <td>3</td>
                <td>租赁期限</td>
                <td colspan="4">
                    自起租日起共#ModuleContract($leaseTerms true)月
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>车辆总额</td>
                <td colspan="4">
                    人民币
                    #ModuleContract($vehicleTotalPrice true)
                    元
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>甲方向经销商支付首付款（半价付模式适用）</td>
                <td colspan="4">
                    人民币
                    #ModuleContract($vehicleDownPayment true)
                    元
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>乙方提供的融资总额</td>
                <td colspan="4">
                    人民币
                    #ModuleContract($vehicleAmountOfB true)
                    元
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>经销商收款银行账户</td>
                <td colspan="4">
                    <p>户名：$!{salerUserName}</p>
                    <p>账号：$!{salerBankCard}</p>
                    <p>开户银行：$!{bankMap.get("$!{salerBankName}")}</p>
                </td>
            </tr>

            ## 打印还款计划表
            #parse('/widget/contract/getRepayList.vm')
            ## 打印还款计划表

            <tr>
                <td>9</td>
                <td>租金支付方式</td>
                <td colspan="4">按等额本息的方式计算租金，按月后付</td>
            </tr>
            <tr>
                <td>10</td>
                <td>租赁期满处理方式</td>
                <td colspan="4">期满且无违约行为的，承租人取得车辆所有权</td>
            </tr>
            <tr>
                <td class="nowrap">11</td>
                <td>逾期罚息利率</td>
                <td colspan="4">剩余租金总额的千分之三/日</td>
            </tr>
        </tbody>
    </table>
    <p>本《融资租赁回租合同》（下称“本合同”）仅为各当事人之间达成的汽车融资租赁的主要商业性条款，本合同后附的《融资租赁回租合同通用条款》为本合同的有效组成部分，与本合同具有同等法律效力。甲方特此声明，其已仔细阅读本合同及通用条款，并完全知悉和同意其中的约定，签署本合同及履行本合同义务是其独立真实的意愿。</p><br/><br/>
    <table class="table">
        <tbody>
            <tr>
                <td width="50%">
                    <p class="signatureA">
                        <span>甲方（签章）：</span>
                        #if($signature)
                        <img src="$signature" />
                        #end
                    </p>
                    <p>身份证号码：  $!{idNumber}</p>
                    <p>常住地址：    $!{residentAddress}</p>
                    <p>工作单位名称：$!{companyName}</p>
                    <p>工作单位地址：$!{companyAddress}</p>
                    <p>手机：        $!{mobile}</p>
                    <p>紧急联系人及手机：$!{contactName}　$!{contactMobile}</p>
                    <p>日期：#ModuleContract( $AYear false )年 #ModuleContract( $AMonth false)月 #ModuleContract( $ADay false)日</p>
                </td>
                <td>
                    <div class="pr">
                        <div class="seal"><img src="/static/img/contract/seal-58.png" width="100%" /></div>
                        <p>乙方（签章）：</p>
                        <br/>
                        <p>伍捌（深圳）融资租赁有限公司</p>
                        <br/>
                        <p>日期：#ModuleContract( $BYear false )年 #ModuleContract( $BMonth false)月 #ModuleContract( $BDay false)日</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h1 class="tc b">融资租赁回租合同通用条款</h1>
    <h3>第一条 租赁车辆的购买</h3>
    <p>1、基于本《融资租赁回租合同》的目的，承租人将其拥有所有权的车辆转让给出租人，出租人向承租人购买车辆后再将车辆出租给承担人占有使用。该车辆为本合同所指“租赁车辆”。</p>
    <p>2、租赁车辆总价款金额详见本合同首页约定，除此以外的任何费用包括附加投保险种的保险费用、其他税费、过户费等，均由承租人承担。就租赁车辆购买，出租人应在满足以下全部付款条件后5个工作日内，将出租人负责部分的租赁车辆融资款项支付至承租人指定车辆经销商银行账户中：</p>
    <p>（1）出租人收到车辆购买合同原件、车辆过户交易发票；（2）出租人收到车辆登记证和车辆行驶证；（3）承租人所提供的全部资料及信息真实、完整、合法、有效。</p>
    <p>若承租人未能按时履行上述任一义务，则出租人有权拒绝支付车辆融资款项并要求承租人支付租金总额（以月租金额及还款时间项列示的月租金额总额为准）10%的违约金，承租人应自行处理与经销商间的车辆买卖付款或解除事宜及由此产生的全部争议纠纷。在租赁期间出租人需保留承租人的车辆登记证，待合同结束后退还。</p>
    <h3>第二条 交付、安装及瑕疵的处理</h3>
    <p>1、出租人将在以下条件满足时向承租人交付租赁车辆：（1）承租人提供已为租赁车辆投保的证明且保险已生效：第一受益人为：伍捌（深圳）融资租赁有限公司。（2）租赁车辆办理完抵押登记手续。</p>
    <p>2、租赁车辆交付当日，承租人应负责对租赁车辆进行验收。如承租人在租赁车辆交付日内未验收又未提出合理理由，视为已对租赁车辆验收合格。</p>
    <p>3、双方同意，非因出租人原因导致的租赁车辆延迟交付、存在质量瑕疵或其他瑕疵的，由承租人直接向经销商进行索赔。索赔费用由承租人承担，通过索赔获得的赔偿也归承租人所有。但是，承租人不得以租赁车辆延迟交付、存在资料瑕疵或其他瑕疵为由延付或拒付租金。</p> 
    <p>4、如果经销商延迟交付租赁车辆或交付的租赁车辆与约定不符，均由经销商负责；若租赁车辆在使用过程中因质量瑕疵或缺陷造成租赁车辆的损毁由经销商承担责任，若租赁车辆在使用过程中出现灭失或造成承租人或第三方人身和财产损坏的，由事故责任方承担赔偿责任，出租人可以提供必要的协助，但承租人不得要求出租人承担责任。</p>
    <h3>第三条 租金、首付款及逾期滞纳金</h3>
    <p>1、在租赁期间内，承租人同意无条件按本合同规定，按时、足额支付租金和其他应付款项。租金支付方式为：出租人基于承租人的授权通过自身合作的第三方支付机构按月从承租人指定还款账户内划扣当期租金。如出租人合作之第三方支付机构未能成功划扣的，承租人应向出租人指定的收款账号予以支付。</p>
    <p>2、承租人应于本合同起租日前，在半价购模式下向经销商指定账户支付首付款。如因承租人未及时支付首付款导致的一切争议、纠纷应由承租人独立承担全部法律责任，由此给出租人造成损失的应予以赔偿。</p>
    <p>3、承租人未按照本合同规定及时支付租金或其它款项的情况下，须为其迟延付款支付滞纳金，每延迟一日，应支付相当于剩余租金总额千分之三的滞纳金。</p>
    <h3>第四条 安全控制仪（GPS系统）</h3>
    <p>1、承租人同意出租人有权在租赁期间内的任何时间为租赁车辆安装安全控制仪，承租人应无条件配合安装工作。如安全控制仪工作异常或出现故障，承租人应及时通知出租人，并且接受出租人及其指定第三方的检查、维护、维修等工作。在租赁期间，承租人不得有拆除、改动、干扰或拒绝安装等影响安全控制仪正常使用的行为。</p>
    <p>2、承租人理解对安装了安全控制仪的租赁车辆，出租人可以了解租赁车辆的地理位置，控制融资租赁风险，承租人同意，在承租人存在违反本合同的约定时，或在出现其它出租人合理认为的影响承租人还款安全的情况时，出租人均有权启用安全控制仪，如果安全控制仪或出租人根据本合同对安全控制仪的启用对承租人造成任何影响，出租人对此相关损失不承担任何责任，但法律另有明确规定的除外。 </p> 
    <p>3、租赁期间，承租人应妥善保管和规定使用GPS系统，不得私自拆除、更换、挪作其他使用，如因承租人原因导致仪器丢失、损坏，承租人应承担赔偿责任。</p>
    <h3>第五条 产权</h3>
    <p>1、在租赁期间内，出租人对租赁车辆享有所有权，承租人仅对租赁车辆享有占有权、使用权和收益权。</p>
    <p>2、在租赁期间内，未经出租人书面同意，承租人不得退租、出售、转让、转租、抵押租赁车辆或采取其他侵犯出租人对租赁车辆所有权的行为。</p>
    <p>3、承租人不得使用租赁车辆从事违反国家法律、法规及规范性文件的任何活动，承租人任何违反国家法律、法规及规范性文件的行为均与出租人无关，承租人应自行承担一切责任，并赔偿因此给出租人造成的损失。</p>
    <p>4、在承租人支付完毕本合同约定应由承租人支付的全部费用后，租赁车辆的所有权归承租人所有。</p>
    <h3>第六条 保管及使用</h3>
    <p>1、承租人应妥善保管、使用租赁车辆、负责租赁车辆的日常保养和维护，对租赁车辆进行年检。承租人在租赁期间内应严格遵守国家各项法律法规，并承担由于交通违章、违法肇事等行为所产生的全部责任。承租人正常使用过程中或进行维修、保养需要更换租赁车辆的零部件时，应使用与原租赁车辆相同的品牌、相同规格及相同型号的零部件，因维修、保养车辆所发生的全部费用由承租人承担。</p>
    <p>2、因承租人保管、使用、维修租赁车辆致使第三者遭受人身或财产损害的，由此产生的任何第三方索赔和损失均由承租人自行承担。在租赁期间，因第三人原因造成租赁车辆损毁或灭失的，出租人作为租赁车辆所有权人享有对第三方的索赔权，但在承租人严格按照第七条规定处理后，出租人可以将对第三方的索赔权转移给承租人，承租人承担索赔的一切费用及后果。</p>
    <p>3、因租赁车辆保管、使用及维修等所发生的一切费用、税费（包括国家新开征的一切税费）及因租赁车辆不当保管、不当使用、不当维修所发生的一切费用、损失（包括但不限于有关部门的罚款、处罚、对第三人赔偿费用等）均由承租人承担，出租人对此免责，若由此导致出租人承担责任遭受损失的，出租人有权就已承担的责任向承租人追偿。</p>
    <p>4、租赁车辆如在租赁期间发生交通事故，承租人承担公安交通管理部门裁定的责任，并承担保险公司付赔出租人后不足部分的损失和修理期间车辆的租金。</p>
    <p>5、租赁车辆使用期间，发生交通事故，及时向当地公安交通、保险部门报案联系。并在24小时内通知出租人协助解决。</p>
    <h3>第七条 租赁车辆的风险转移</h3>
    <p>1、租赁车辆交付后至租赁期间届满（包括提前终止的情形）的租赁车辆毁损及灭失的风险，完全由承租人承担。租赁车辆发生重大交通事故或租赁车辆毁损、盗抢、灭失等重大情况，承租人应在该情形发生后的24小时内通知出租人。无论何种原因（出租人违反本合同规定故意造成租赁车辆毁损或灭失的情况除外）造成租赁车辆的毁损及灭失的，承担人均应继续承担租金支付义务。</p>
    <p>2、如租赁车辆遭受正常损耗之外的毁损或灭失，出租人有权要求承租人在发生此种情形之日起5日内按下列方式处理，由承租人负责处理并负担一切费用：（1）更换经出租人确认的与毁损租赁车辆同等状态、性能、型号的车辆并办理相关手续，确认该同等状态、性能、型号的车辆所有权归出租人所有。承租人因此取得毁损租赁车辆的所有权，及对第三方的索赔权（如有）。（2）租赁车辆毁损至无法修复的程度或灭失时，承租人不同意更换同等状态、性能、型号的车辆的，承租人应立即购买该租赁车辆，购买价格计算公式：（本合同项下尚未支付的租金总额+《哈尔滨银行-58 消费贷（车分期）联合贷款合同》项下尚未归还的本息+该合同项下涉及到的其他款项）*101%。承租人因此取得留购的毁损租赁车辆的所有权，及第三方的索赔权（如有）。</p>
    <h3>第八条 转让条款</h3>
    <p>在不影响承租人正常使用租赁车辆的前提下，承租人同意出租人将本合同项下的全部应收款以及就该应收款项所享受的一切权利向第三方转让，无需取得承租人的同意，承租人应继续向债权受让人履行本协议项下的义务。</p>
    <h3>第九条 保险</h3>   
    <p>承租人应按照如下要求投保，并向出租人提供投保证明：（1）租赁车辆期间内，承租车辆保险第一受益人应始终为：伍捌（深圳)融资租赁有限公司。（2）从承租当月起，承租人应提供第一年的商业险保单复印件交予出租人保管：第一年保险到期后一周内承租人应提供第二年的商业险保单复印件。（3）承租人承租车辆在租赁期限内，所上保险险种包括但不限于：车辆损失险、附加车辆损失险不计免赔险、第三者责任险（保额不低于30万）、附加第三者责任险不计免赔险、全车盗抢险、附加全车盗抢险不计免赔险：如承租人在租赁期间内没有对租赁车辆上保险或所上险种不符合出租人对车险险种要求，产生的全部车辆事故损失由承租人承担，出租人有权单方面解除合同，如给出租人造成损失，出租人有权向承租人进行追偿并收回租赁车辆。</p>
    <h3>第十条 租赁车辆牌照及租赁期满后租赁车辆的处理</h3>
    <p>如果在租赁期限届满时，于承租人一直占有使用租赁车辆，因此出租人不对租赁车辆做出任何承诺或陈述，租赁车辆将按照届时的状况，在承租人支付本合同项下的全部租金及其他应付款项且哈尔滨银行股份有限公司收到《哈尔滨银行-58消费贷（车分期）联合贷款合同》项下所有贷款本息后，租赁车辆所有权转移至承租人。</p>
    <h3>第十一条 提前回购</h3>
    <p>双方同意，起租日起6个月内，承租人不可以提前回购。起租日起6个月后，如承租人需要提前回购的，承租人需结清本协议项下的全部剩余车辆租金；同时出租人有权按照剩余租金总额×3%一次性收取提前回购补偿金；且承租人应按照哈尔滨银行股份有限公司相关规则支付提前还款补偿金后方视为办理提前回购的必要条件已满足。</p>
    <h3>第十二条 违约和补偿</h3>
    <p>1、承租人违反本合同约定给出租人造成损失的，出租人有权要求承租人赔偿损失，同时出租人有权采取本条第2款规定的一项或多项措施。</p>
    <p>2、承租人未按本合同及/或《哈尔滨银行-58消费贷（车分期）联合贷款合同》的规定支付租金、授信贷款本息或其他款项的，应按第三条第3款规定向出租人支付违约滞纳金，同时，出租人还有权选择采取以下一项或多项措施：</p>
    （1）出租人可向承租人发出催款通知，要求承租人规定的期限内支付该拖欠款项和违约滞纳金，在催款通知规定的期限内承租人应及时付清，如到期仍未支付，出租人有权要求承租人支付全部剩余租金及一切应付款项。<br/>
    （2）单方解除本协议、收回车辆。在承租人出现严重违约时，或在本合同及/或《哈尔滨银行-58消费贷（车分期）联合贷款合同》其他条款有规定时，出租人有权单方解除本协议、收回车辆。承租人有义务配合，并将车辆（包括相关备件、通行费缴纳证明、承租人保管的全部钥匙以及所有其他相关物品和材料）交付给出租人。如果承租人拒绝配合或如果情况需要，出租人可以使用任何其他合法的方式控制车辆，出租人控制车辆所发生的费用由承租人承担。出租人控制车辆后，有权为偿还租金、《哈尔滨银行-58 消费贷（车分期）联合贷款合同》项下出租人为承租人垫付的逾期本息及相关款项之目的以任何合法的方式处置车辆。如果出租人处置车辆仍不足弥补其损失的部分由承租人赔偿：弥补全部损失后如有剩余，出租人应将剩余部分退还给承租人。在承租人控制车辆过程中和占有车辆期间，出租人将对车辆尽合理谨慎的义务；对合理谨慎所不能避免的车辆或车内物品损坏，丢失或灭失，出租人不承担责任。如果在车辆被处置前承租人完全履行包括本协议项下租金、《哈尔滨银行-58 消费贷（车分期）联合贷款合同》项下授信贷款本息等在内的全部付款义务及本合同及《哈尔滨银行-58 消费贷（车分期）联合贷款合同》约定的所有其他义务后，出租人可根据本合同第十条规定处理。<br/>
    <p>3、承租人根据本条规定所支付的款项应按照以下顺序清偿所欠出租人的债务：“各项费用（包括但不仅限向承租人追索因履行或保护本合同及《哈尔滨银行-58 消费贷（车分期）联合贷款合同》项下出租人权利而产生的差旅费用、查询费用、诉讼费用、车辆控制费、保全费用、执行费用、律师费用等）、违约金、滞纳金、租金”。 承租人所偿还支付的款项不足以偿还或支付同一顺序的全部款项的，按该款项发生的先后顺序予以清偿。</p>
    <p>4、承租人丧失民事行为能力，被宣告失踪或死亡，且其监护人、继承人、遗产受赠人拒绝履行本合同或有事实表明承租人已丧失偿债能力、遭受诉讼、涉嫌犯罪，或承租人的财产可能被没收、冻结或受到任何其他威胁；或承租人财物状况恶化或任何其他原因导致其偿债能力下降，承租人发生任何其他足以影响其偿债能力或影响其履行本合同项下付款义务的诚意的行为，出租人有权采取措施控制车辆并终止本合同，处置租赁车辆以弥补损失，车辆处置后仍不能弥补全部损失的，出租人有权继续向承租人或其债务承接人追偿。</p>
    <h3>第十三条 陈述与保证</h3>
    <p>1、承租人承诺所提供的全部资料及信息真实、完整、合法、有效并为其承担全部法律责任，否则出租人有权单方解除合同并有权要求承租人承担违约责任。如承租人个人信息、联系方式（包括但不限于电话、地址、邮箱等）发生任何变更或者发生其他任何影响到本合同履行的事项，应在任何事项发生后五（5）日内书面通知出租人。</p>
    <p>2、承租人同意出租方有权以其认为适当的方式向行政机关、司法机关、银行、其他金融机构或信用管理评级机构披露或获取承租人的信用信息和不良贷款信息。</p>
    <h3>第十四条 不可抗力</h3>
    <p>本合同任何一方因不可抗力而不能全部或部分履行本合同或延迟履行本合同，应自不可抗力事件发生之日起10个工作日内通知其地方，并自该事件发生之日起20个工作日内向其他地方提交有当地公证部门出具的有关不可抗力发生的书面证明。</p>
    <h3>第十五条 管辖法律</h3>
    <p>1、本合同受中华人民共和国法律管辖并根据中华人民共和国法律解释，有关本合同的任何争议，如果协商不成，则应提交北京市朝阳区人民法院提起诉讼。双方一致同意争议适用简易诉讼程序。</p>
    <p>2、本合同项下承租人的一切义务均具有连续性，对其继承人、受让人均具有完全的约束力，不受任何争议、索赔和法律程序及其与任何自然人或法人签订的任何合同、文件的影响。   </p>       
    <h3>第十六条 文本及生效</h3>
    <p>1、本协议采用电子文本形式制成，由承租人、出租人通过出租人旗下拥有并运营的58车分期线上平台签署并永久保存在出租人为此设立的专用服务器上备查，同时，双方均认可该形式的协议效力。</p>
    <p>2、本协议自承租人通过58车分期线上签字操作并通过58车分期线上系统生成本协议即视为生效，对双方均具有法律约束力。</p>
    <p>3、本协议附件《协议扣款授权书》、《收车及处置授权书》为本协议的有效组成部分，与本协议同步在58车分期线上签署生效、具有同等法律效力。</p>
</div>