
##二手车辆买卖协议

<div class="protocol">
    <div class="logo">
        <img src="/static/img/contract/logo_58.png" class="right" />
    </div>
    <h1 class="tc b">$!{title}</h1>
    <h3 class="tc"></h3>

    <p class="b">甲方（购车人）：$!{realName}</p>
    <p>身份证号码：$!{idNumber}</p>
    <p class="b">乙方：伍捌（深圳)融资租赁有限公司</p>
    <p class="b">丙方（卖车人）：$!{vehicleDealers}</p>
    <p>身份证号码：$!{salerIDNumber}</p>
    <p>三方经友好协商，依据《中华人民共和国合同法》和其他法律法规规定，订立本协议如下，以兹共同遵守</p>
    <h3>第一条 合作内容</h3>
    <p>1、乙方和合作方哈尔滨银行股份有限公司（以下简称“哈行”）联合为甲方提供购车融资方案，哈行将与甲方、乙方另行签署《哈尔滨银行-58 消费贷（车分期）联合贷款合同》为甲方提供融资总额60%的款项，乙方将依据与甲方另行签署的《融资租赁回租合同》为甲方提供融资总额40%的款项，该等款项将依据甲方的授权直接支付至丙方指定收款账号（账号明细以甲方与乙方签署的《融资租赁回租协议》约定为准）。</p>
    <p class="b">2、车辆基本情况</p>
    <table class="table">
        <tbody>
            <tr>
                <td rowspan="3" width="20%">车辆信息</td>
                <td width="40%">车辆品牌：$!{vehicleBrand}</td>
                <td width="40%">型号：$!{vehicleType}</td>
            </tr>
            <tr>
                <td>车辆颜色：$!{vehicleColor}</td>
                <td>首次上牌日期：$!{vehicleFirstSetCardDate}</td>
            </tr>
            <tr>
                <td>车架号：$!{vehicleChassisNum}</td>
                <td></td>
            </tr>
            <tr>
                <td>出售价格</td>
                <td colspan="2">人民币：#ModuleContract($vehicleTotalPrice true)元</td>
            </tr>
            <tr>
                <td>甲方申请融资总额</td>
                <td colspan="2">人民币：#ModuleContract($vehicleAmount true)元（将由乙方、哈行按照40%、60%的比例分别向丙方支付）</td>
            </tr>
        </tbody>
    </table>
    <p>3、  本协议项下，甲方所购车辆，在</p>丙方向甲方交付前毁损灭失的风险由丙方承担，丙方向甲方交付后的毁损灭失风险由甲方承担。
    <p>4、  在乙方、哈行已向丙方支付甲方所申请的融资款项后，如甲方因丙方原因（包括但不限于丙方所售车辆违法等）要求解除本协议的，则丙方应在三个工作日内将乙方、哈行发放的相应融资款项原路退还至乙方及哈行，并按照本协议第四条第6款约定向乙方支付违约金。</p>
    <p>5、  在车辆交付至甲方之前，如甲方出现任何违反《哈尔滨银行-58 消费贷（车分期）联合贷款合同》及/或《融资租赁回租协议》的行为，乙方有权要求丙方在三个工作日内将乙方、哈行发放的相应融资款项原路退还至乙方及哈行。丙方知悉并同意应自行处理由此产生的与甲方之间履行或解除购车协议的全部责任。</p>

    <h3>第二条 甲方的权利义务</h3>
    <p>1、甲方应做好车辆交接、过户期间的配合工作，非因不可抗力原因不得拒绝接受车辆过户。</p>
    <p>2、甲方应按乙方的指示将交易车辆抵押到乙方或乙方指定的第三方名下。</p>
    <p>3、甲方在配合乙方完成车辆抵押登记、并向乙方提交以伍捌（深圳）融资租赁有限公司作为第一受益人的已生效保险证明文件后，乙方可指示卖车人向甲方交付车辆，车辆交付至甲方后风险由甲方承担。</p>
    <h3>第三条 乙方的权利义务</h3>
    <p>1、通过乙方融资方案销售的车辆，乙方有权随时进行监控，并要求丙方予以协助。</p>
    <p>2、通过乙方融资方案销售的车辆，丙方不得以乙方/哈行名义向甲方收取除乙方融资方案外的其他费用，如乙方发现丙方以乙方/哈行名义向甲方收取其他费用，乙方有权随时终止合同并要求丙方承担违约责任。</p>
    <h3>第四条  丙方的权利义务</h3>
    <p>1、 丙方承诺并保证：（1）合法享有出售车辆的所有权和处置权，且该车辆符合国家有关规定，能够办理过户、抵押手续；（2）保证所出示及提供的与车辆有关的一切证件、证明及信息合法、真实、有效；（3）保证出售的车辆达到无重大事故标准，无重大事故标准定义见本附件一；（4）承诺对与甲方开展二手车辆买卖交易过程中的全部行为（包括但不限于车辆过户手续、车辆交付及验收、任一方违约导致的退款及退车争议纠纷事件等）独立承担责任。丙方明确了解并同意乙方及其关联公司、哈行仅向甲方提供融资方案，不对丙方的车辆承担任何保证责任。</p>
    <p>2、 如果丙方的车辆属于注销或者挂靠的，丙方在交易前应向甲方提供产权认定承诺书。</p>
    <p>3、 丙方应及时向甲方提供车辆过户交易发票，否则乙方、哈行有权延期向丙方支付车辆融资款项并无须承担任何责任。</p>
    <p>4、 丙方应在协助甲方办理完车辆过户手续后（车辆过户费用由丙方承担）即开始协助办理车辆抵押登记手续，抵押权人为乙方。丙方知悉并同意车辆抵押登记启动工作不以乙方及哈行向丙方支付车辆融资款项为前提。丙方怠于协助办理抵押登记手续的，乙方、哈行有权延期向丙方支付车辆融资款项并无须承担任何责任。</p>
    <p>5、 丙方应在接到乙方指示后方可向甲方交付车辆。</p>
    <p>6、 如丙方所卖出的车辆属于查封车辆、银行按揭未还清贷款车辆、法院封存车辆、拼装车辆、走私车辆及其他类型的违反国家相关法律法规及交易规定的车辆，则丙方应向乙方承担车辆总价款20%的违约金并赔偿由此给甲方、乙方造成的全部损失。</p>
    <p>7、 丙方应确保向甲方、乙方/哈行出示的车辆销售价格的真实性、准确性。</p>
    <p>8、 丙方应协助乙方进行贷后管理工作，包括但不限于提供甲方交易明细证明文件、甲方有效联系方式等。</p>
    <p>9、 丙方应对甲方、哈行及乙方所提供的各类信息及资料严格保密，积极维护甲方、哈行及乙方的合法权益，未经甲方、哈行及乙方书面同意允许，丙方不得向任何第三方透露。本条款并不因合同的解除、终止、撤销而失效。</p>
    <p>10、 丙方违反法律法规及本协议任一条款约定损害乙方及关联公司利益、商誉和品牌形象的，乙方有权随时单方终止本协议，追究丙方违约责任并要求丙方赔偿由此给乙方及关联公司造成的包括商誉损失在内的全部损失。如因丙方原因造成乙方及关联公司被第三方要求赔偿或发生纠纷、诉讼的，丙方应向乙方全额赔偿损失。</p>
    <h3>第五条 违约责任</h3>
    <p>1、本协议一方违反本协议中的保证、承诺或任何约定/法定义务的，即为违约。违约方对非违约方造成损失的，违约方应赔偿非违约方因此遭受的一切直接损失，包括但不限于诉讼费、仲裁费、律师费、公证费以及非违约方为索赔而支出的合理调查费用。</p>
    <p>2、除本协议另有约定外，本协议项下违约责任承担按如下标准执行：违约金数额是指由于一方的违约行为而对守约方造成的全部损失的130%，这里所指的全部损失包括但不限于守约方为此支出的诉讼费(或仲裁费)、保全费、评估费、拍卖费、执行费、律师代理费、调查取证费等费用。</p>
    <h3>第六条 适用法律与争议的解决</h3>
    <p>1、本协议的订立、效力、解释、履行及争议解决等，均受中国法律管辖。</p>
    <p>2、除本协议另有规定外，甲乙双方就本协议或本协议之履行而产生的一切争议，均应首先通过友好协商的方式解决。如双方通过协商不能达成一致时，则可向本协议签订地北京朝阳区人民法院提起诉讼。诉讼费用由败诉方负担。</p>
    <p>3、本协议部分条款的效力依本协议之规定而被终止或被宣告无效的，不影响本协议其他条款的效力。</p>
    <h3>第七条 禁止贿赂条款</h3>
    <p>1、任何一方保证不向另一方及与本合作有关的任何第三方的雇员或管理、工作人员，直接或间接，在账外暗中支付任何佣金、报酬或给予回扣，或者提供任何礼品或款待，亦不向另一方及与本合作有关的任何第三方雇员或管理、工作人员就上述事项达成任何安排。</p>
    <p>2、甲方、丙方有义务就乙方人员任何形式的索取或收受财物行为及时向乙方举报（举报邮箱：<a href="mailto:wb@58ganji.com">wb@58ganji.com</a>）。</p>
    <h3>第八条 附则</h3>
    <p>1、本协议采用电子文本形式制成，由甲方、乙方、丙方通过乙方旗下拥有并运营的58车分期线上平台签署并永久保存在乙方为此设立的专用服务器上备查，同时，三方均认可该形式的协议效力。</p>
    <p>2、本协议自甲方、丙方通过58车分期线上签字操作并通过58车分期线上系统生成本协议即视为生效，对三方均具有法律约束力。</p>
    <p>3、本协议至甲方、乙方、丙方履行完毕其在本协议、《哈尔滨银行-58 消费贷（车分期）联合贷款合同》、《融资租赁回租协议》项下的权利义务时止。本协议因法定或约定理由提前终止的，甲方、丙方仍应继续履行完毕各自义务。</p>

    <p>附件一：车辆无重大事故标准</p>
    <p>一、如符任何一条，即属重大事故车：</p>
    <p>1、  经过撞击、擦伤到发动机舱和驾驶舱的车辆；</p>
    <p>2、  车身后翼子板撞击擦伤超过其三分之一的车辆；</p>
    <p>3、  纵梁有焊接、切割、整形、变形的车辆；</p>
    <p>4、  减振器座有焊接、切割、整形、变形的车辆；</p>
    <p>5、  ABC柱有焊接、切割、整形、变形的车辆；</p>
    <p>6、  因撞击造成汽车安全气囊弹出的车辆；</p>
    <p>7、  其它不可查些部分有严重的焊接、切割、整形、变形的车辆；</p>
    <p>8、  车身经水浸泡超过车身二分之一，或积水进入驾驶舱的车辆；</p>
    <p>9、  车身经火焚烧超过0.5平方米，经修复仍存在安全隐患的车辆；</p>
    <p>二、不属于以上情形的车辆，即为符合“车辆无重大事故标”的车辆，属于非重大事故车。</p>
    <br/>
    <table class="table table-border-none">
        <tbody>
            <tr>
                <td width="50%">
                    <p class="signatureA">
                        <span>甲方（签字）：</span>
                        #if($signature)
                        <img src="$!{signature}" />
                        #end
                    </p>
                    <p>签订日期：#ModuleContract( $AYear false )年#ModuleContract( $AMonth false)月#ModuleContract( $ADay false)日</p>
                    <br/>
                    <p class="signatureA">
                        <span>丙方（签字）：</span>
                        #if($signatureC)
                        <img src="$!{signatureC}" />
                        #end
                    </p>
                    <p>签订日期：#ModuleContract($CYear false)年#ModuleContract( $CMonth false)月#ModuleContract( $CDay false)日</p>
                </td>
                <td>
                    <div class="pr">
                        <div class="seal">
                            <img src="/static/img/contract/seal-58.png" width="100%" />
                        </div>
                        <p>乙方(盖章)：</p>
                        <br/>
                        <p>伍捌（深圳）融资租赁有限公司</p>
                        <br/>
                        <p>签订日期：#ModuleContract( $BYear false )年#ModuleContract( $BMonth false)月#ModuleContract( $BDay false)日</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
