
<% for ( var item, i=0, ilen= obj.rows.length;  i < ilen && (item = obj.rows[i]); i++ ) {
    
%>

    <a href='javascript:;' class="customer-item">
        <section class="item-top">
            <div class="c-name">
                bbb</div>
            <div class="c-mobile">
                bbb</div>
            <div class="c-time">
                bbb</div>
        </section>
    </a>

<% } %>